.box {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main_name{
    color: black;
    font-weight: bold;  
}
.self_simple{
    font-weight: lighter;
    color: rgb(58, 54, 54);
}
#key_style_01{
    background-color: lemonchiffon;
    width: 100%;
}
#key_style_02{
    background-color: lightblue;
    width: 100%;
}
#key_style_03{
    background-color: pink;
    width: 100%;
}
#key_style_04{
    background-color: lightsalmon;
    width: 100%;
}

.small_title{
    background-color: rgb(97, 96, 96);
    font-weight: bold;

}





