<!DOCTYPE html>
<html lang='ko'>
    {% load static %}
    <head>
        <meta charset='UTF-8'>
        
        <title>Blog</title> 

        <link rel="stylesheet" href={% static 'css/blog.css' %} type="text/css">

    </head>
    <body>
        <div class='main1'>
            <h1 id='name'>NARSHA</h1>
            <p id='pppp'>빅데이터 분석가를 꿈꾸는 팀 NARSHA입니다.</p>
        </div>

        <div class ='main2'>
            <button class ='bt' > <a href = ''> Process</button>
            <br><br>
            {% for p in posts %} 
            <button class ='bt'> <a href = {{p.get_absolute_url}}> {{p.title}} </a> </button>
            <br><br>
            {% endfor %}
        </div>
        
    