<!DOCTYPE html>
<html lang = 'ko'>
    <head>
        <meta charset = 'UTF-8'>
        
        <title>Blog</title> 

        <link rel="stylesheet" href="" type="text/css">

    </head>
    <body>
        <div class = 'container'>
            <div class = 'row'>
                <div class = 'col-7'>
                    <h1>NARSHA</h1>
                    <p>빅데이터 분석가를 꿈꾸는 팀 NARSHA입니다. </p>
                </div>

                <div id = 'bt_box' class = 'col-5'>  
                    <button class = 'bt' > <a href = ''> Process</button>
                    <br><br>
                    {% for p in post %} 
                        <button class = 'bt'> <a href = {{p.get_absolute_url}}> {{p.title}} </a> </button>
                    {% endfor %}
                </div>
            </div>
        </div>








    </body>
</html>