<!-- HTML 기본 태그 =============================================================
1. <h1~h6> ~ </h1~h6> : 헤더라인 
2. <p> ~ </p> : 문단 
3. <br>, <br/> : 줄바꿈
4. <hr> : 가로 수평선
5. <pre> ~ </pre> : 입력한 그대로 출력
================================================================================-->

<!-- HTML 텍스트 관련 태그 =============================================================
1. <b> ~ </b> (bold) : 글자 굵게 
2. <strong> ~ </strong> : 글자 굵게  중요 의미. 크롤링시에 우선순위로 가져옴
3. <i> ~ </i> (italic) : 이탤릭체 출력 (기울기)
4. <em> ~ </em> (emphasize) : 이탤릭체 처럼 출력, 중요 의미
5. <small> ~ </small> : 텍스트를 작게
6. <sup> ~ </sup> (superscript) : 윗첨자
7. <sub> ~ </sub> (subscript) : 아래첨자
8. <ins> ~ </ins> (insert) : 삽입된 텍스트 의미. 밑줄 그어짐
9. <del> ~ </del> (delete) : 글자 가운데 선
10. <mark> ~ </mark> : 글자위에 색
================================================================================-->

<!-- HTML 링크 태그 =============================================================
1. <a> ~ </a> (anchor) : 하이퍼링크 의미
            - 속성 href : Hypertext Reference 약자
                    <a href='이동할 URL주소'> </a>
            - 속성 target : URL 페이지 열릴 위치
                    _self : 기본값 : 현재 창
                    _blank : 새 창, 새 탭
                    _parent : 현재 페이지보다 위
                    _top : root에서 해당 문서 열기
2. <img> ~ </img> (image) : 웹페이지에 이미지 표시
            - 속성 src : 이미지 경로
                    <img src="https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4wppp?ver=89fd">
            - 속성 alt (alternate)
            - 속성 width, height = '숫자' : 크기 지정 (400,200,50% 등)
================================================================================-->

<!-- HTML 리스트 태그 =============================================================
1. 순서없는 리스트 (unordered list)
    <ul>
        <li></li>
        <li></li>
    </ul>
2. 순서있는 리스트 (ordered list)
    <ol>
        <li></li>
        <li></li>
    </ol>
        - 속성 type="1" : 디폴트
                    A, a, I, i
================================================================================-->

<!-- HTML 테이블 태그 =============================================================
<table>
    <thead>
        <tr>
            <th>컬럼명1</th>
            <th>컬럼명2</th>
            <th>컬럼명3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>데이터</td>
            <td>데이터</td>
            <td>데이터</td>
        </tr>        
        <tr>
            <td>데이터</td>
            <td>데이터</td>
            <td>데이터</td>
        </tr>
        <tr>
            <td>데이터</td>
            <td>데이터</td>
            <td>데이터</td>
        </tr>
    </tbody>
</table>
================================================================================-->

<!-- HTML 태그 - 블럭 및 공간 지정 ================================
* Block(블록)
웹 페이지 안에서 사격 영역 지정하는 태그들
- <div> ~ </div>
  > 다른 HTML 태그들을 묶어서 하나의 블록 지정
  > 기본: 너비 - 전체, 높이 - 내부 내용물이 출력될 정도
  -<span>~</span>
  > 인라인 태그
  > 텍스트에서 강조하고 싶은 부분
  > css에서 많이 사용
  -<iframe>~</iframe> : inline frame 약자
  > 웹페이지 안에 다른 웹페이지 삽입
  > 속성 src : 삽입 웹페이지 url
  > 속성 title : 제목
  > 속성 width : 너비
  > 속성 height : 높이
================================================================== -->
<!--
    {% comment %} 
- 각자 역할
글 작성<P>
- 설계모델
이미지 + 글
- 시행착오
이미지 + 글
- 아쉬운 점 
{% endcomment %} -->
<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Process</title>
        <style> #t {text-align: center;}
            .s {text-align: lift;}

        </style> 
        <link rel="stylesheet" href= {% static 'css/narsha.css' %} type="text/css">
    </head>
    <body>
        <h1 id = 't'> 팀 NARSHA PROCESS </hr>
                
            <h3 class='small_title'>팀 나르샤 역할배분</h3><hr/>
                <ul class = 's'>
                    <li>공  통: 전체 설계</li>
                    <li>김한림: narsha_single_pages.html 작성 및 오류수정, css협업, git설정</li>
                    <li>김현아: index.html와 blog.CSS 작성</li>
                    <li>석은수: 설계 모델 작성 및 데이터구조 작성</li>
                    <li>이소정: index.html, process.html 작성, markdown 설정 및 전체 오류 수정  </li>
                    <li>정  도: narsha.css, process.html작성 및 html협업</li>
                </ul>

            <h3 class='small_title'>설계 모델</h3>

                <img src={% static 'image\1번.jpg' %} width = 60% height = 60%%>


            <h3 class='small_title'>시행 착오</h3>
                <ol>
                    <img src={% static 'image\2번.jpg' %} width = 60% height = 60%%>
                    <li> 방향성<br>
                    <li> migration</li>
                    <li> CSS 설정</li>
                    <li> markdown</li>
                    <li> 이미지추가 </li>
                        <img src={% static 'image\팀.jpg' %} width = 60% height = 60%%>
                <ol>
                            
        </div>

    </body>


</html>




















