body{
    padding:0px;
    margin:0px;
}

.main1{
    width:500px;
    padding: 10px;
    position:absolute;
    top:10px;
    left:10px;
    overflow:hidden;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 150px;

}

#name{
    text-align: center;
}

#pppp{
    text-align: center;
}

.main2{
    width:500px;
    height: 500px;
    padding: 10px;
    position:absolute;
    top:10px;
    right:10px;
    overflow:hidden;
    text-align: center;
    margin-top: 10%;
    margin-right: 150px;
    margin-bottom: 10%;
    margin-left: 50px;
}

.bt{
    background-color:rgba(211, 211, 211, 0.267);
    width: 80%;
    border: 0;
    padding: 20px;
    border-radius: 15px;
    
}