.box {
    width: 300px;
    height: 300px; 
    border-radius: 70%;
    overflow: hidden;
    top:50%; left:50%;
    margin-top:-20px; margin-left:100px; 
}
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
#main_name{
    color: black;
    font-weight: bold;  
}
.self_simple{
    font-weight: lighter;
    color: rgb(58, 54, 54);
}
#key_style_01{
    background-color: rgba(250, 247, 216, 0.508);
    width: 100%;
    border: 0;
    padding: 20px;
    border-radius: 15px;
}
#key_style_02{
    background-color: rgba(190, 218, 227, 0.41);
    width: 100%;
    border: 0;
    padding: 20px;
    border-radius: 15px;
}
#key_style_03{
    background-color: rgba(250, 215, 221, 0.503);
    width: 100%;
    border: 0;
    padding: 20px;
    border-radius: 15px;
}
#key_style_04{
    background-color: rgba(255, 191, 166, 0.475);
    width: 100%;
    border: 0;
    padding: 20px;
    border-radius: 15px;
}

.small_title{
    background-color: rgba(222, 222, 222, 0.73);
    font-weight: bold;
    height: 50px;
    padding: 10px;


}




